# Ejemplo de archivo .env para configurar las variables sensibles del proyecto :)
# Copiar este archivo como .env y completar los valores reales.

# Clave API del proveedor del modelo
OPENAI_API_KEY=your_api_key_here

# Configuracion del modelo/chat
#MODEL_NAME=phi3:latest
BASE_URL=http://localhost:0000 # Cambiar el puerto si es necesario

MODEL_NAME= modelo_chat_aqui # Cambiar por el nombre del modelo de chat que se va a usar

EMBEDDING_MODEL=modelo_embeding_aqui # Cambiar por el nombre del modelo de embeddings que se va a usar

EMBEDDING_PROVIDER=openai # Cambiar por el proveedor de embeddings que se va a usar (ej: openai, cohere, etc.)
