venv/
.env/
env/
ENV/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
# Chroma vector DB
chroma/
chroma_db/
persist_directory/
db/

# Archivos internos de Chroma
*.sqlite3
*.parquet
chrome_lanchain_db/chroma.sqlite3